body {
    background: linear-gradient(to right, rgb(245, 224, 214), rgb(82, 161, 106))
}

ul {
    text-align: right;
}

.nav-item {
    display: inline;
    margin: 5px;
    padding: 6px;
    background-color: rgb(40, 57, 82);
}

a {
    text-decoration: none;
    font-size: 20px;
}

a:link {
    color: #4e3903;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #694d07;
}

a:active {
    color: rgb(83, 83, 4);
}

h1 {
    font-family: sans-serif;
    font-size: 40px;
    color: #0e191f;
    margin-top: 100px;
    text-align: center;
}

h2 {
    font-family: monospace;
    font-size: 20px;
    color: #0f1b22;
}

footer {
    text-align: center;
    margin-top: 400px;
}